* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Gellix-Thin;
  src: url(../../Font/Gellix/Gellix-Thin.woff);
}
@font-face {
  font-family: Gellix-Light;
  src: url(../../Font/Gellix/Gellix-Light.woff);
}
@font-face {
  font-family: Gellix-Regular;
  src: url(../../Font/Gellix/Gellix-Regular.woff);
}
@font-face {
  font-family: Gellix-Medium;
  src: url(../../Font/Gellix/Gellix-Medium.woff);
}
@font-face {
  font-family: Gellix-SemiBold;
  src: url(../../Font/Gellix/Gellix-SemiBold.woff);
}
@font-face {
  font-family: Gellix-Bold;
  src: url(../../Font/Gellix/Gellix-Bold.woff);
}
@font-face {
  font-family: Gellix-ExtraBold;
  src: url(../../Font/Gellix/Gellix-ExtraBold.woff);
}
@font-face {
  font-family: Gellix-Black;
  src: url(../../Font/Gellix/Gellix-Black.woff);
}

h1,h2,h3,h4,h5,h6 {
  font-family: Gellix-SemiBold;
}

p,a,span {
  font-family: Gellix-Regular;
  text-decoration: none;
  color: #000;
}

body {
  overflow-x: hidden;
}



/* Header  */


header div#header {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  background: #fff;
}

header div#header .brand-logo {
  max-width: 10%;
  width: 100%;
}

header div#header .brand-logo img {
  width: 100%;
}

header div#header nav.desktop-menu {
  max-width: 75%;
  width: 100%;
  align-items: center;
  display: flex;
}

header div#header nav.desktop-menu > ul {
  display: flex;
  list-style: none;
}

header div#header nav.desktop-menu ul li.main-menu {
  margin: 0px 30px;
  position: relative;
  padding: 20px 0;
}

header div#header nav.desktop-menu ul li.main-menu > a {
  font-family: Gellix-SemiBold;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

header div#header nav.desktop-menu ul li:hover a,
header div#header nav.desktop-menu ul li.main-menu .dropdown-menu ul li:hover a {
  color: #0074FF;
} 

header div#header nav.desktop-menu ul li.main-menu > a::after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -5px;
  background-color: #0074FF;
  display: block;
}

header div#header nav.desktop-menu ul li.main-menu:hover > a::after {
  width: 100%;
  transition: all 0.3s ease-out;
}

header div#header nav.desktop-menu ul li.main-menu:hover > a i {
  transform: rotate(180deg);
} 

header div#header nav.desktop-menu ul li.main-menu .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  top: 50px;
  left: 0;
  width: 100%;
  min-width: 250px;
  padding: 25px 15px;
}

header div#header nav.desktop-menu ul li.main-menu:hover .dropdown-menu {
  display: block;
}

header div#header nav.desktop-menu ul li.main-menu .dropdown-menu ul li {
  list-style: none;
  margin-top: 15px;
}

header div#header nav.desktop-menu ul li.main-menu .dropdown-menu ul li a {
  font-size: 16px;
  line-height: 30px;
  color: #474747;
  font-family: 'Gellix-Medium';
}






header div#header .contact-us-btn {
  max-width: 10%;
  width: 100%;
  justify-content: right;
  display: flex;
  align-items: center;
}


header div#header .contact-us-btn a {
  font-family: Gellix-SemiBold;
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: #0074FF;
  padding: 12px 25px;
  border-radius: 28px;
  background-color: #fff;
  border: 1px solid #0074FF;
}

header div#header .contact-us-btn a:hover {
  background-color: #0074FF;
  color: #fff;
  transition: all 0.3s ease;
}

.main-banner img {
  width: 100%;
}

.hide-desktop {
  display: none;
}

.creative-agency {
  padding: 0 4%;
  text-align: center;
}

.creative-agency .section-heading {
  text-align: center;
  margin: 40px 0;
}

.creative-agency .section-heading p {
  font-size: 16px;
  letter-spacing: 0;
  color: #474747;
  margin-top: 15px;
  font-family: Gellix-Medium;
}

.creative-agency .creative-boxes {
  display: flex;
  justify-content: space-between;
}

.creative-agency .creative-boxes .curve-box {
  max-width: 21%;
  width: 100%;
  min-height: 310px;
  /* border: 1px solid #000; */
  border-radius: 30px;
  padding: 25px 30px;
  text-align: left;
  max-height: 330px;
  height: 100%;
}

.creative-agency a.view-all-btn {
  font-size: 14px;
  line-height: 16px;
  color: #0074FF;
  display: block;
  border: 1px solid #0074FF;
  max-width: max-content;
  margin: 10px auto;
  background-color: #fff;
  padding: 17px 25px;
  border-radius: 28px;
  font-family: 'Gellix-SemiBold';
}

.creative-agency a.view-all-btn:hover {
  background-color: #0074FF;
  color: #fff;
  transition: all 0.3s ease;
} 
.creative-agency .creative-boxes .curve-box h3 {
  font-size: 26px;
  line-height: 40px;
  color: #000;
  letter-spacing: 0;
  font-family: 'Gellix-SemiBold';
}

.creative-agency .creative-boxes .curve-box ul li {
  font-size: 18px;
  line-height: 36px;
  color: #000;
  letter-spacing: 0;
  list-style: none;
  font-family: 'Gellix-Medium';
}

.creative-agency .creative-boxes .curve-box.pink-box {
  background-color: #FFF9F9;
}

.creative-agency .creative-boxes .curve-box.blue-box {
  background-color: #F9FBFF;
}


.creative-agency .creative-boxes .curve-box.left-box {
  transform: rotate(358deg);
}

.creative-agency .creative-boxes .curve-box.right-box {
  transform: rotate(2deg);
}

.creative-agency .creative-boxes .curve-box.down-box {
  margin-top: 50px;
}




.brands-carousel {
  padding: 4% 4% 0;
  text-align: center;
  overflow: hidden;
}

.brands-carousel h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 30px;
}


.brands-carousel .brang-logo-carousel .slick-track {
  display: flex;
  align-items: center;
}

.brands-carousel .brang-logo-carousel .brand-logo {
  margin: 0 40px;
}

.brands-carousel .brang-logo-carousel .brand-logo img {
  width: 100%;
}






.small-banner {
  text-align: center;
  padding: 6% 0 0;
  max-width: 60%;
  margin: 0 auto;
}

.small-banner img {
  width: 100%;
}



.worked-projects {
  text-align: center;
  padding: 6% 9% 0;
  overflow: hidden;
}

.worked-projects .section-heading {
  margin-bottom: 30px;
}

.worked-projects .section-heading h2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.worked-projects .section-heading  p {
  font-size: 16px;
  line-height: 19px;
  font-family: 'Gellix-Medium';
}

.worked-projects .project-carousel .slick-list .slick-track {
  display: flex;
}

.worked-projects .project-carousel .tiles img {
  width: 100%;
}

.worked-projects .project-carousel .tiles {
  margin-right: 40px;
}







.strategy-section {
  padding: 6% 5% 0;
}

.strategy-section .section-heading {
  text-align: center;
  margin-bottom: 60px;
}

.strategy-section .section-heading h2 {
  font-size: 30px;
  line-height: 36px;
}

.strategy-section .strategy-boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.strategy-section .strategy-boxes .box {
  display: flex;
  padding-right: 50px;
  align-items: flex-start;
}

.strategy-section .strategy-boxes .box img {
  max-width: 47px;
}

.strategy-section .strategy-boxes .box .box-content {
  margin-left: 20px;
}

.strategy-section .strategy-boxes .box .box-content h4 {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Gellix-Bold';
  margin-bottom: 10px;
}

.strategy-section .strategy-boxes .box .box-content p {
  font-size: 13px;
  line-height: 20px;
  color: #7D7D7D;
}











.experience-section {
  padding: 6% 8% 0;
  display: flex;
  justify-content: space-between;
}

.experience-section p.description {
  max-width: 45%;
  width: 100%;
  font-size: 26px;
  line-height: 48px;
}

.experience-section .experience-boxes {
  max-width: 45%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.experience-section .experience-boxes .box h3 {
  font-size: 40px;
  line-height: 60px;
  font-family: 'Gellix-Regular';
}

.experience-section .experience-boxes .box p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Gellix-Regular';
}



.client-reviews {
  padding: 6% 4%;
}

.client-reviews .section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.client-reviews .section-heading h2 {
  font-size: 30px;
  line-height: 36px;
}

.client-reviews .review-carousel {
  background-color: #F6F6F6;
  border-radius: 19px;
  display: block;
  padding: 4% 10% 4%;
  max-width: 70%;
  margin: 0 auto;
  position: relative;
}

.client-reviews .review-carousel::before {
  content: '';
  background-image: url(../img/Icons/coma.png);
  width: 37px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 6%;
}

.client-reviews .review-carousel .slick-list {
  overflow: hidden;
}

.client-reviews .review-carousel .slick-list .slick-track {
  display: flex;
}

.client-reviews .review-carousel .review .stars {
  margin-bottom: 10px;
  display: flex;
} 

.client-reviews .review-carousel .review .stars img {
  margin-right: 8px;
  max-width: 15px;
}

.client-reviews .review-carousel .review p.review-text {
  font-size: 16px;
  line-height: 24px;
  color: #474747;
  font-family: 'Gellix-Medium';
}

.client-reviews .review-carousel .review .said-by {
  margin-top: 30px;
}

.client-reviews .review-carousel .review .said-by h6 {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Gellix-Bold';
}

.client-reviews .review-carousel .review .said-by span {
  font-size: 16px;
  line-height: 24px;
  color: #474747;
}


.client-reviews .review-carousel ul.slick-dots {
  width: 70%;
  bottom: -40px;
}

.client-reviews .review-carousel ul.slick-dots li button::before {
  font-size: 0px;
  background-color: #fff;
  border: 1px solid #474747;
  border-radius: 25px;
  width: 11px;
  height: 11px;
  opacity: 1;
}

.client-reviews .review-carousel ul.slick-dots li.slick-active button::before {
  background-color: #0074FF;
  border: 1px solid #0074FF;
}

header div#header .mobile-menu-icon {
  display: none;
}


@media (max-width: 768px) {

  header div#header {
    padding: 4% 4%;
    align-items: center;
    justify-content: inherit;
  }

  

  header div#header .brand-logo {
    max-width: 25%;
    margin-right: auto;
  }

  header div#header .contact-us-btn {
    max-width: 40%;
    margin-right: 25px;
  }

  header div#header nav.desktop-menu {
    display: none;
  }

  header div#header .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }

  header div#header .mobile-menu-icon span {
    display: block;
    height: 3px;
    width: 20px;
    background-color: #000;
    border-radius: 5px;
  }

  header div#header .mobile-menu-icon span.line-1 {
    margin-bottom: 5px;
  }

  header div#header nav.desktop-menu.open-menu {
    display: block;
  }

  header div#header nav.desktop-menu.open-menu {
    position: fixed;
    height: 100%;
    width: 85%;
    left: 0;
    box-shadow: 5px 0 10px #c3c3c3;
    background-color: #fff;
    top: 0;
    margin: 0;
    bottom: 0;
    z-index: 50;
  }
  
  header div#header nav.desktop-menu.open-menu > ul {
    flex-direction: column;
    margin-top: 50px;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu {
    margin: 0 15px;
    border-bottom: 1px solid #EEEEEE;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu > a {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu .dropdown-menu {
    display: none;
    height: 0;
    position: initial;
    background-color: #fff;
    top: initial;
    left: initial;
    width: 100%;
    min-width: initial;
    padding: 10px 15px;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu.active .dropdown-menu {
    display: block;
    height: auto;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu:hover > a {
    color: #000;
  }

  header div#header nav.desktop-menu ul li.main-menu:hover > a i {
    transform: initial;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu.active > a {
    color: #0074FF;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu.active > a i {
    transform: rotate(180deg);
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu:hover > a::after {
    display: none;
  }

  header div#header nav.desktop-menu.open-menu > ul li.main-menu.active > a::after {
    display: block;
    width: 100%;
    transition: all 0.3s ease-out;
  }





  .hide-mobile {
    display: none;
  }

  .hide-desktop {
    display: block;
  }

  .creative-agency .section-heading img {
    max-width: 310px;
  }

  .creative-agency .section-heading p {
    font-size: 12px;
    line-height: 20px;
  }

  .creative-agency .creative-boxes {
    flex-wrap: wrap;
  }

  .creative-agency .creative-boxes .curve-box {
    max-width: 48%;
    min-height: 220px;
    max-height: 250px;
    padding: 20px 20px;
  }

  .creative-agency .creative-boxes .curve-box.blue-box.left-box {
    order: 1;
  }

  .creative-agency .creative-boxes .curve-box.pink-box.right-box {
    order: 2;
  }

  .creative-agency .creative-boxes .curve-box.pink-box.left-box {
    order: 3;
  }

  .creative-agency .creative-boxes .curve-box.blue-box.right-box {
    order: 4;
  }

  .creative-agency .creative-boxes .curve-box h3 {
    font-size: 16px;
    line-height: 24px;
  }

  .creative-agency .creative-boxes .curve-box ul li {
    font-size: 12px;
    line-height: 22px;
  }

  .creative-agency a.view-all-btn {
    margin-top: 30px;
  }

  .brands-carousel {
    padding: 15% 4% 0;
  }

  .brands-carousel h2 {
    font-size: 22px;
    line-height: 27px;
  }

  

  .small-banner {
    padding: 15% 4% 0;
  }

  .worked-projects {
    padding: 15% 4% 0;
  }

  .worked-projects .project-carousel .tiles {
    margin-right: 20px;
  }

  .worked-projects .section-heading h2 {
    font-size: 22px;
    line-height: 27px;
  }

  .worked-projects .section-heading p {
    font-size: 12px;
    line-height: 14px;
  }

  .strategy-section {
    padding: 15% 4% 0;
  }

  .strategy-section .section-heading {
    margin-bottom: 40px;
  }

  .strategy-section .section-heading h2 {
    font-size: 22px;
    line-height: 27px;
  }

 

  .strategy-section .strategy-boxes {
    grid-template-columns: auto;
  }

  .experience-section {
    padding: 15% 4% 0;
    flex-direction: column;
  }

  .experience-section p.description {
    max-width: 100%;
    font-size: 20px;
    line-height: 38px;
  }

  .experience-section .experience-boxes {
    max-width: 100%;
    margin-top: 20px;
  }

  .experience-section .experience-boxes .box h3 {
    font-size: 30px;
  }

  .experience-section .experience-boxes .box p {
    font-size: 14px;
  }

  .client-reviews {
    padding: 15% 4%;
  }

  .client-reviews .section-heading h2 {
    font-size: 22px;
    line-height: 27px;
  }

  .client-reviews .review-carousel {
    max-width: 100%;
    padding: 7% 6% 7%;
  }

  .client-reviews .review-carousel .review p.review-text {
    font-size: 12px;
  }

  .client-reviews .review-carousel .review .said-by h6,
  .client-reviews .review-carousel .review .said-by span {
    font-size: 14px;
  }

  .client-reviews .review-carousel ul.slick-dots li button::before {
    width: 6px;
    height: 6px;
  }

  .client-reviews .review-carousel::before {
    left: inherit;
    right: 5%;
    width: 28px;
  }

  .client-reviews .review-carousel ul.slick-dots {
    width: 100%;
  }
  





}





/* Footer */

footer#footer {
  background-image: url(../img/footer-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer#footer .footer-top {
  padding: 5% 14% 10%;
  border-bottom: 1px solid #e9e9e93d;
}

footer#footer .footer-top .footer-top-content h2 {
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  margin-bottom: 20px;
}

footer#footer .footer-top .footer-top-content p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

footer#footer .footer-top .footer-top-content a.demo-btn {
  display: block;
  background: #fff;
  max-width: 180px;
  text-align: center;
  padding: 20px;
  color: #0074FF;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Gellix-SemiBold';
  border-radius: 29px;
  margin-top: 30px;
}

footer#footer .footer-mid {
  padding: 4% 6% 0;
  display: flex;
  flex-wrap: wrap;
}

footer#footer .footer-mid .logo-box {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

footer#footer .footer-mid .logo-box .footer-brand-line {
  margin-left: 30px;
  background-color: #f9f9f91c;
  border-radius: 15px;
  padding: 12px 20px;
}

footer#footer .footer-mid .logo-box .footer-brand-line p {
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

footer#footer .footer-mid .logo-box .footer-brand-line p img {
  max-width: 21px;
  margin-bottom: -5px;
}

footer#footer .footer-mid .footer-social-media {
  display: flex;
  width: 70%;
}

footer#footer .footer-mid .footer-social-media a {
  display: flex;
  align-items: start;
  color: #fff;
  font-size: 15px;
  ;line-height: 18px;
}

footer#footer .footer-mid .footer-social-media a.insta {
  margin-right: 50px;
}

footer#footer .footer-mid .footer-social-media a img {
  margin-right: 10px;
}

footer#footer .footer-mid .footer-contact-details {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer#footer .footer-mid .footer-contact-details div  {
  display: flex;
  align-items: center;
}

footer#footer .footer-mid .footer-contact-details div img {
  margin-right: 10px;
}

footer#footer .footer-mid .footer-contact-details div.footer-address {
  margin-top: 30px;
}

footer#footer .footer-mid .footer-contact-details div span {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Gellix-Medium';
}


footer#footer .footer-bottom {
  padding: 0 6% 6%;
  margin-top: -20px;
}

footer#footer .footer-bottom .footer-information-page-links {
  display: flex;
  margin-bottom: 20px;
}

footer#footer .footer-bottom .footer-information-page-links a {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  margin-right: 40px;
}

footer#footer .footer-bottom .copyright-text p {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}




@media (max-width: 768px) {
  footer#footer {
    background-image: url(../img/footer-mob-bg.jpg);
  }

  footer#footer .footer-top {
    padding: 10% 4% 15%;
  }

  footer#footer .footer-top .footer-top-content {
    text-align: center;
  }

  footer#footer .footer-top .footer-top-content h2 {
    font-size: 24px;
    line-height: 29px;
  }

  footer#footer .footer-top .footer-top-content p {
    font-size: 12px;
  }

  footer#footer .footer-top .footer-top-content a.demo-btn {
    max-width: 130px;
    font-size: 14px;
    line-height: 16px;
    padding: 15px;
    margin: 30px auto 0;
  }

  
  footer#footer .footer-mid {
    padding: 15% 4% 0;
  }

  footer#footer .footer-mid .logo-box {
    margin-bottom: 20px;
  }
  
  
  footer#footer .footer-mid .logo-box a.footer-brand-logo img {
    max-width: 110px;
  }

  footer#footer .footer-mid .logo-box .footer-brand-line {
    max-width: 210px;
  }

  footer#footer .footer-mid .logo-box .footer-brand-line p {
    font-size: 14px;
    line-height: 16px;
  }

  footer#footer .footer-mid .footer-social-media {
    width: 100%;
    margin-bottom: 40px;
  }

  footer#footer .footer-mid .footer-social-media a {
    font-size: 0;
  } 

  footer#footer .footer-mid .footer-social-media a.insta {
    margin-right: 30px;
  }


  footer#footer .footer-mid .footer-contact-details {
    width: 100%;
    flex-direction: column;
  }

  footer#footer .footer-mid .footer-contact-details div {
    margin-top: 25px;
  }

  footer#footer .footer-mid .footer-contact-details div.footer-address {
    margin-top: 25px;
  }

  footer#footer .footer-bottom {
    margin-top: 50px;
    padding: 0 4% 10%;
  }

}



/* ================== Contact Page ======================== */

.contact-page #main-content {
  padding: 5% 6%;
}

.contact-page #main-content h1.contact-heading {
  font-size: 60px;
  line-height: 72px;
  padding-right: 30%;
}

.contact-page #main-content .contact-footer {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.contact-page #main-content .contact-footer .contact-email {
  max-width: 40%;
  width: 100%;
  border-right: 1px solid #C8C8C8;
}

.contact-page #main-content .contact-footer .contact-email form.email-submit {
  display: flex;
  flex-direction: column;
}

.contact-page #main-content .contact-footer .contact-email form.email-submit input[type="email"] {
  max-width: 60%;
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 5px 3px;
  margin-bottom: 20px;
}

.contact-page #main-content .contact-footer .contact-email form.email-submit input.email-send-btn {
  display: block;
  max-width: 140px;
  background-color: #0074FF;
  border: 0;
  padding: 15px 0;
  border-radius: 28px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.contact-page #main-content .contact-footer .contact-info {
  display: flex;
  max-width: 60%;
  width: 100%;
  flex-direction: column;
  padding-left: 6%;
}

.contact-page #main-content .contact-footer .contact-info .chat-info {
  display: flex;
  margin-top: 30px;
}

.contact-page #main-content .contact-footer .contact-info .chat-info a.chat-btn {
  display: block;
  background-color: #44A736;
  padding: 14px;
  max-height: 46px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  border-radius: 28px;
}

.contact-page #main-content .contact-footer .contact-info .chat-info .contact-details {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
}

.contact-page #main-content .contact-footer .contact-info .chat-info .contact-details a {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Gellix-SemiBold';
  display: flex;
  align-items: center;
}

.contact-page #main-content .contact-footer .contact-info .chat-info .contact-details a img {
  margin-right: 4px;
}

@media (max-width: 768px) {
  .contact-page #main-content h1.contact-heading {
      font-size: 30px;
      line-height: 40px;
      padding-right: 0;
  }

  .contact-page #main-content .contact-footer {
    flex-direction: column;
    padding-top: 50px;
  }

  .contact-page #main-content .contact-footer .contact-email {
    max-width: 70%;
    border-right: 0;
  }

  .contact-page #main-content .contact-footer .contact-info {
    padding-left: 0;
    margin-top: 40px;
    max-width: 100%;
  }

  .contact-page #main-content .contact-footer .contact-email form.email-submit input[type="email"] {
    max-width: 100%;
  }

  
}




